# /public/

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [NC,OR]
RewriteCond %{REQUEST_FILENAME} -d [NC]
RewriteRule .* - [L]

RewriteRule ^\
([^\.?]*)/?\
$ \
index.php?uri=$1 \
\
[QSA,L]

</IfModule>

ErrorDocument 400 /dmc/public/error.php
ErrorDocument 403 /dmc/public/error.php
ErrorDocument 404 /dmc/public/error.php
ErrorDocument 405 /dmc/public/error.php
ErrorDocument 500 /dmc/public/error.php
ErrorDocument 503 /dmc/public/error.php
