# /public/

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^\
([^\.?/]*)/?\
([^\.?/]*)/?\
([^\.?/]*)/?\
([^\.?/]*)/?\
(?:\.(json|xml))?\
$ \
index.php?ctla=$1&ctlb=$2&ctlc=$3&ctld=$4&format=$5 \
\
[QSA,L]

</IfModule>

ErrorDocument 400 http://localhost/dmc/public/error.php?400
ErrorDocument 404 http://localhost/dmc/public/error.php?404
ErrorDocument 405 http://localhost/dmc/public/error.php?405
ErrorDocument 500 http://localhost/dmc/public/error.php?500
ErrorDocument 503 http://localhost/dmc/public/error.php?503
